imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        Behat\MinkExtension:
            base_url: "http://localhost:8080/"
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\ThreeBRS\SyliusPaymentRestrictionPlugin\Application\Kernel

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
