services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    MangoSylius\PaymentRestrictionPlugin\Model\MangoSyliusResolvePaymentMethodForOrder:
        arguments:
            $zoneMatcher: '@sylius.zone_matcher'

    MangoSylius\PaymentRestrictionPlugin\PaymentResolver\PaymentMethodsResolver:
        tags:
            - name: "sylius.payment_method_resolver"
              type: "channel_based"
              label: "sylius.payment_methods_resolver.channel_based"
              priority: 100
        arguments:
            $paymentMethodRepository: '@sylius.repository.payment_method'
            $paymentOrderResolver: '@MangoSylius\PaymentRestrictionPlugin\Model\MangoSyliusResolvePaymentMethodForOrder'

    MangoSylius\PaymentRestrictionPlugin\Form\Extension\RestrictionPaymentMethodExtension:
        tags:
            - extended_type: Sylius\Bundle\PaymentBundle\Form\Type\PaymentMethodType
              name: form.type_extension
